{{template "setuphtmlheader" .}}

<h2>{{tr "New CA"}}</h2>

<form action="/caSetup" method="post">

<div class="explanation">
{{tr "We cannot run our own Web CA on an unsecure http:// connection like this!"}}<p>
{{tr "Lets create the certificates right now..."}}
</div>

{{template "notice" .}}

<table class="form">
<tr><td class="mainlabel">{{tr "CA Name"}}:</td>
    <td><input type="text" class="main" name="CommonName" value="{{.CA.Name.CommonName}}"></td></tr>

{{template "certCommonFields" .CA}}

<tr><td colspan="2"><input type="submit" name="submit" value='{{tr "Create"}}'><td><tr>
</table>
</form>

{{template "htmlfooter"}}
