{{template "setuphtmlheader"}}

<h2>{{tr "New Certificate"}}</h2>

<form action="/newcert" method="post">

<div class="explanation">
{{tr "We now need a certificate for the WebCA server itself"}}
</div>

{{template "notice" .}}

<input type="hidden" name="Step" value="{{.Step}}"/>
<table class="form">
<tr><td class="mainlabel">{{tr "Certificate Name"}}:</td>
    <td><input type="text" class="main" name="CommonName" value="{{.Cert.Name.CommonName}}"></td></tr>

<tr><td colspan="2" id="toggler" onclick="toggleOps()" class="control">{{tr "More"}}...</td></tr>

{{template "certCommonFields" .Cert}}

<tr><td colspan="2"><input type="submit" name="submit" value='{{tr "Create"}}'><td></tr>
</table>
</form>


<script type="text/javascript">
	{{template "JSToggleOps"}}
	toggleOps();
</script>

{{template "htmlfooter"}}
