{{template "setuphtmlheader"}}

<h2>{{template "newcaTitle"}}</h2>

<form action="/newca" method="post">

<div class="explanation">
{{template "casetupInfo"}}
</div>

{{if .Error}}{{template "notice" .}}{{end}}

<table class="form">
<tr><td class="mainlabel">{{template "CA"}}:</td>
    <td><input type="text" class="main" name="CA"></td></tr>

<tr><td class="label">{{template "street"}}:</td>
    <td><input type="text" name="street"></td></tr>
<tr><td class="label">{{template "postal"}}:</td>
    <td><input type="text" name="postal"></td></tr>
<tr><td class="label">{{template "locality"}}:</td>
    <td><input type="text" name="locality"></td></tr>
<tr><td class="label">{{template "province"}}:</td>
    <td><input type="text" name="province"></td></tr>
<tr><td class="label">{{template "ou"}}:</td>
    <td><input type="text" name="ou"></td></tr>
<tr><td class="label">{{template "org"}}:</td>
    <td><input type="text" name="org"></td></tr>
<tr><td class="label">{{template "country"}}:</td>
    <td><input type="text" name="country"></td></tr>
<tr><td colspan="2"><input type="submit" name="submit" value="{{template "create"}}"><td><tr>
</table>
</form>

{{template "htmlfooter"}}
