{{template "setuphtmlheader" .}}

<h2>{{template "userSetupTitle"}}</h2>

<form action="/saveSetup" method="post">

<div class="explanation">
{{template "setupInfo"}}
</div>

{{with .Error}}{{template "notice" .}}{{end}}

<input type="hidden" name="Step" value="{{.Step}}"/>
<table class="form">
<tr><td class="label">{{template "email"}}:</td>
    <td class="label"><input type="text" name="Email" value="{{.M.User}}"></td></tr>
<tr><td class="label">{{template "emailserver"}}:</td>
    <td class="label"><input type="text" name="Server" value="{{.Server}}">:<input 
               type="text" name="Port" value="{{.Port}}" size="6"></td></tr>
<tr><td class="label">{{template "emailpasswd"}}:</td>
    <td class="label"><input type="password" name="Password"></td></tr>
<tr><td class="label">{{template "repeatEmailpasswd"}}:</td>
    <td class="label"><input type="password" name="Password2"></td></tr>
<tr><td colspan="2"><input type="submit" name="submit" value="{{template "save"}}"><td><tr>
</table>
</form>

{{template "htmlfooter"}}
