{{define "setuphtmlheader"}}
<html>
<head>
<title>WebCA (Setup)</title>
<style type="text/css">
{{template "style.css"}}
</style>
</head>
<body>
<div class="topbar">
<h1><label>WebCA Setup:<label>
<label class="activated" id="Step1">
<label class="bigger">1</label><label class="explanation">First User</label>
</label>
<label class="shadowed" id="Step2">
<label class="bigger">2</label><label class="explanation">CA Generation</label>
</label>
<label class="shadowed" id="Step3">
<label class="bigger">3</label><label class="explanation">WebCA's Server Certificate</label>
</label>
<label class="shadowed" id="Step4">
<label class="bigger">4</label><label class="explanation">Mailer Configuration</label>
</label>
</h1>
</div>
<script type="text/javascript">
{{template "JSGetID"}}
{{template "JSSetupNavigation"}}
{{template "JSToggleOps"}}
{{template "JSCheckpasswd"}}
</script>
{{end}}

{{define "htmlheader"}}
<div class="topbar">
<h1>WebCA</h1>
  <div class="loggedUser">
{{if .User}} Logged as: {{.User.Email}} (<a href="/login">logout</a>)
{{else}} Not logged in (<a href="/login">login here</a>)
{{end}}
  </div>
</div>
<script type="text/javascript">
{{template "JSGetID"}}
</script>
{{end}}


{{define "htmlfooter"}}
<div class="footer">
	<a href="http://github.com/josvazg/webca">Hosted on GitHub</a><br/>
	<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img 
       alt="Licencia Creative Commons" style="border-width:0" src="img/ccby.png" />
    </a><br /><a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
    Creative Commons Attribution 3.0 License</a>.
</div>
</body>
</html>
{{end}}

{{define "userDetails"}}
<tr><td class="mainlabel">{{tr "Username"}}:</td>
    <td class="mainlabel">
    <input type="text" class="main" id="Username" name="Username" value="{{.U.Username}}"></td></tr>
<tr><td class="label">{{tr "Fullname"}}:</td>
    <td class="label">
    <input type="text" name="Fullname" size="50" value="{{.U.Fullname}}"></td></tr>
<tr><td class="label">{{tr "Password"}}:</td>
    <td class="label"><input type="password" id="Password" name="Password" 
        onkeyup="checkPassword(1,this)"></td>
</tr>
<tr><td class="label">{{tr "Repeat Password"}}:</td>
    <td class="label"><input type="password" id="Password2" name="Password2" 
        onkeyup="checkPassword(1,this)"></td>
</tr>
<tr><td class="label">{{tr "Email"}}:</td>
    <td class="label"><input type="text" id="Email" name="Email" value="{{.U.Email}}"></td></tr>
{{end}}

{{define "mailerDetails"}}
<tr><td class="label">{{tr "Email"}}:</td>
    <td class="label"><input type="text" id="M.User" name="M.User" value="{{.M.User}}"></td></tr>
<tr><td class="label">{{tr "Email Server"}}:</td>
    <td class="label"><input type="text" name="M.Server" value="{{.Server}}">:<input 
        type="text" name="M.Port" size="6" value="{{.Port}}"></td></tr>
<tr><td class="label">{{tr "Email Password"}}:</td>
    <td class="label"><input type="password" id="M.Password" name="M.Password" 
        onkeyup="checkPassword(4,this)"></td></tr>
<tr><td class="label">{{tr "Repeat Password"}}:</td>
    <td class="label"><input type="password" id="M.Password2" name="M.Password2" 
        onkeyup="checkPassword(4,this)"></td></tr>
{{end}}
