{{define "setupInfo"}}
You'll need a user and a password in order to use this application. <br/>
Optionally you need to give a email account on a email server to get notifications
when certificates are going to expire.
{{end}}

{{define "setupCAInfo"}}
This is unnacceptable!<p/>
We cannot run our own Web CA on an unsecure http:// connection like this!<p>
lets create the certificates right now...
{{end}}

{{define "userSetupTitle"}}
User Setup
{{end}}

{{define "username"}}Username{{end}}
{{define "fullname"}}Fullname{{end}}
{{define "password"}}Password{{end}}
{{define "repeatPasswd"}}Repeat password{{end}}
{{define "email"}}Email{{end}}
{{define "emailserver"}}Email server{{end}}
{{define "emailpasswd"}}Email password{{end}}
{{define "repeatEmailpasswd"}}Repeat email password{{end}}

{{define "save"}}Save{{end}}
